*{
  padding: 0;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
html,body{
  width: 100%;
  overflow-x: hidden;
}
.parent{
  height: 100%;
  width: 100vw;
  background-color: rgb(228, 222, 222);
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: space-evenly;
  
 
 
}
.cards{
  height: 300px;
  width: 250px;
  background-color:white;
  border-radius: 30px;
   margin: 20px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   
   
}
.cards .top{
  display: flex;
  align-items: center;
  justify-content:space-between;
  margin: 10px;
  padding-top: 10px;
  padding-bottom: 3px;

}
.top img{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid black;
  
  
}
.top button{
  font-size: 11px;
  font-weight: 500;
border: 1px solid rgb(242, 238, 238);
border-radius: 20%;
background-color: white;
color: rgb(182, 181, 181);
background-color: transparent;
padding: 2px 8px;
gap: 5px;
display: flex;
align-items: center;
justify-content: center;
}
.middle{
  padding-bottom: 20px;
}
.middle h4{
  font-size: 13px;
  margin: 12px;
  font-weight: 600;

}
.middle h4 span{
  font-size: 10px;
  color:  rgb(192, 192, 192);
}
.middle h2{
  font-size: 16px;
  font-weight: 650;
  margin-left: 13px;
}
.middle .tag{
  display: flex;
  
 
  
 
}
.tag h4{
  background-color:rgb(231, 228, 228) ;
  font-size: 12px;
  border-radius: 5px;
  padding: 4px 8px;
}

.bottom{
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding: 15px 2px;
  border-top: 1px solid #d7d7d7;
  margin-top: 25px;
  margin-right: 10px;
  margin-left: 10px; 
  

}
.bottom h4{
  font-size: 15px;
}
.bottom h4 span{
  font-size: 10px;
  color: #d7d7d7;
}
.bottom button{
  font-size: 12px;
  background-color: black;
  color: #d7d7d7;
  padding: 8px 15px;
  border-radius: 10px;

}